<div style="text-align:left">

        <h1>
          Welcome to {{ title }}!
        </h1>
    
        <h2 id="myCarousel" class="carousel slide" style="width: 33%; height:300px; margin: 0">
    
          <owl-carousel-o [options]="customOptions">
                
          <ng-template carouselSlide><img src="assets/top1.jpg"></ng-template>  
          <ng-template carouselSlide><img src="assets/top2.jpg"></ng-template>  
          <ng-template carouselSlide><img src="assets/top3.jpg"></ng-template>  
          <ng-template carouselSlide><img src="assets/top4.jpg"></ng-template>   
          <ng-template carouselSlide><img src="assets/top6.jpeg"></ng-template>  
          <ng-template carouselSlide><img src="assets/top3.jpg"></ng-template>  
          <ng-template carouselSlide><img src="assets/top4.jpg"></ng-template>   
          <ng-template carouselSlide><img src="assets/top6.jpeg"></ng-template>  
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="assets/bottoms5.png" ></ng-template> 
        <ng-template carouselSlide><img src="assets/1.jpg" ></ng-template>  
        <ng-template carouselSlide><img src="assets/bottoms2.jpeg"></ng-template>  
        <ng-template carouselSlide><img src="assets/bottoms3.jpeg"></ng-template> 
        <ng-template carouselSlide><img src="assets/bottoms4.jpeg"></ng-template>  
        <ng-template carouselSlide><img src="assets/bottoms8.jpg"></ng-template>  
      </owl-carousel-o>
      <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="assets/shoes1.jpg"></ng-template> 
      <ng-template carouselSlide><img src="assets/shoes5.jpg" /></ng-template> 
      <ng-template carouselSlide><img src="assets/shoes6.jpg" ></ng-template>  
      <ng-template carouselSlide><img src="assets/shoes4.jpg" ></ng-template>  
      <ng-template carouselSlide><img src="assets/shoes2.jfif"></ng-template>  
      <ng-template carouselSlide><img src="assets/shoes3.png"></ng-template> 
      
       
    </owl-carousel-o>
    <div>Some tags after</div>
    
        </h2>
      </div>